.slider{
    height: 100vh;
    position: relative;
    top: 6rem;
}
.content-box{
    display: flex;
    padding: 2rem 8rem;
}
.content-box .pera{
    width: 70vw;
    margin-right: 1rem;
}
.content-box .pera h1{
    font-size: 2rem;
    font-weight: 700;
   font-family: 'Poppins', sans-serif;
   text-align: right;
}
.content-box .pera p{
  font-family: 'Poppins', sans-serif;
    line-height: 2em;
    text-align: right;
}


.slider-img{
    margin: 1rem 2rem;
    height: 25rem;
    width: 40vw;
    background-size: 100% 100%;
    box-shadow: 20px 20px 10px grey;
    animation: slider 10s linear infinite;
    border-radius: 5px;
    text-align: center;
}

.slider-img h4{
    position: relative;
    top: 7rem;
    font-size: 5rem;
    color: azure;
}

.main-container {
    display: flex;
    flex-direction: column;
}



@keyframes slider {
    0%{
        background-image: url('../../src/assets/50-ship.jpg');
    }
     30%{
        background-image: url('../../src/assets/bache-study.jpg');
    }
     60%{
        background-image: url('../../src/assets/button-img.jpg');
    }
     80%{
        background-image: url('../../src/assets/gaza-background.jpg');
    }
     100%{
        background-image: url('../../src/assets/hunger.jpeg');
    }
}



@media (min-width: 190.99px) and (max-width: 376px) {

    .slider{
    height: auto;
    position: relative;
    top: 0;
}
.content-box{
    display: flex;
    flex-direction: column-reverse ;
    padding: 0px 0px;
}
.content-box .pera{
    width: 100%;
    padding: 1rem;
}
.content-box .pera h1{
    font-size: 1.5rem;
    font-weight: 700;
   text-align: center;
}
.content-box .pera p{
  font-family: 'Poppins', sans-serif;
    line-height: 1.8em;
    text-align: justify;
}


.slider-img{
    margin: 1rem 1rem;
    height: 25rem;
    width: 90vw;
    background-size: 100% 100%;
    box-shadow: 20px 20px 10px grey;
    animation: slider 10s linear infinite;
    border-radius: 5px;
    text-align: center;
}

.slider-img h4{
    position: relative;
    top: 7rem;
    font-size: 5rem;
    color: azure;
}

.main-container {
    display: flex;
    flex-direction: column;
}




}

@media (min-width: 376.98px) and (max-width: 457px) {
    
    .slider{
    height: auto;
    position: relative;
    top: 0;
}
.content-box{
    display: flex;
    flex-direction: column-reverse ;
    padding: 0px 0px;
}
.content-box .pera{
    width: 100%;
    padding: 1rem;
}
.content-box .pera h1{
    font-size: 1.5rem;
    font-weight: 700;
   text-align: center;
}
.content-box .pera p{
  font-family: 'Poppins', sans-serif;
    line-height: 1.8em;
    text-align: justify;
}


.slider-img{
    margin: 1rem 1rem;
    height: 25rem;
    width: 90vw;
    background-size: 100% 100%;
    box-shadow: 20px 20px 10px grey;
    animation: slider 10s linear infinite;
    border-radius: 5px;
    text-align: center;
}

.slider-img h4{
    position: relative;
    top: 8rem;
    font-size: 5rem;
    color: azure;
}

.main-container {
    display: flex;
    flex-direction: column;
}



}

@media (min-width: 457.98px) and (max-width: 573px) {
       .slider{
    height: auto;
    position: relative;
    top: 0;
}
.content-box{
    display: flex;
    flex-direction: column-reverse ;
    padding: 0px 0px;
}
.content-box .pera{
    width: 100%;
    padding: 1rem;
}
.content-box .pera h1{
    font-size: 1.3rem;
    font-weight: 700;
   text-align: center;
}
.content-box .pera p{
  font-family: 'Poppins', sans-serif;
    line-height: 1.8em;
    text-align: justify;
}


.slider-img{
    margin: 1rem 1rem;
    height: 25rem;
    width: 90vw;
    background-size: 100% 100%;
    box-shadow: 20px 20px 10px grey;
    animation: slider 10s linear infinite;
    border-radius: 5px;
    text-align: center;
}

.slider-img h4{
    position: relative;
    top: 8rem;
    font-size: 5rem;
    color: azure;
}

.main-container {
    display: flex;
    flex-direction: column;
}


}


@media (min-width: 573.98px) and (max-width: 644px) {
    .slider{
    height: auto;
    position: relative;
    top: 0;
}
.content-box{
    display: flex;
    flex-direction: column-reverse ;
    padding: 0px 0px;
}
.content-box .pera{
    width: 100%;
    padding: 1rem;
}
.content-box .pera h1{
    font-size: 2rem;
    font-weight: 700;
   text-align: center;
}
.content-box .pera p{
  font-family: 'Poppins', sans-serif;
    line-height: 1.8em;
    text-align: justify;
}


.slider-img{
    margin: 1rem 1rem;
    height: 25rem;
    width: 90vw;
    background-size: 100% 100%;
    box-shadow: 20px 20px 10px grey;
    animation: slider 10s linear infinite;
    border-radius: 5px;
    text-align: center;
}

.slider-img h4{
    position: relative;
    top: 8rem;
    font-size: 5rem;
    color: azure;
}

.main-container {
    display: flex;
    flex-direction: column;
}

}



@media (min-width: 644.98px) and (max-width: 792px) {
    .slider{
    height: auto;
    position: unset;
}
.content-box{
    display: flex;
    flex-direction: column-reverse ;
     align-items: center;
    justify-content: center;
    margin: auto;
    padding: 2rem;
}
.content-box .pera{
    width: 80vw;
    padding: 2rem;
}
.content-box .pera h1{
    font-size: 1.7rem;
    font-weight: 700;
   text-align: center;
}
.content-box .pera p{
  font-family: 'Poppins', sans-serif;
    line-height: 1.8em;
    text-align: justify;
}


.slider-img{
    margin: 1rem 1rem;
    height: 25rem;
    width: 80vw;
    background-size: 100% 100%;
    box-shadow: 20px 20px 10px grey;
    animation: slider 10s linear infinite;
    border-radius: 5px;
    text-align: center;
}

.slider-img h4{
    position: relative;
    top: 8rem;
    font-size: 5rem;
    color: azure;
}

.main-container {
    display: flex;
    flex-direction: column;
}
}


@media (min-width: 792.98px) and (max-width: 912px) {
    .slider{
    height: auto;
    position: relative;
    top: 0;
}
.content-box{
    display: flex;
    flex-direction: column-reverse ;
    padding: 0px 0px;
}
.content-box .pera{
    width: 100%;
    padding: 1rem;
}
.content-box .pera h1{
    font-size: 2rem;
    font-weight: 700;
   text-align: center;
}
.content-box .pera p{
  font-family: 'Poppins', sans-serif;
    line-height: 1.8em;
    text-align: justify;
    padding: 1rem;
}


.slider-img{
    margin: 1rem 1rem;
    height: 25rem;
    width: 90vw;
    background-size: 100% 100%;
    box-shadow: 20px 20px 10px grey;
    animation: slider 10s linear infinite;
    border-radius: 5px;
    text-align: center;
}

.slider-img h4{
    position: relative;
    top: 8rem;
    font-size: 5rem;
    color: azure;
}

.main-container {
    display: flex;
    flex-direction: column;
}
}

@media (min-width: 912.98px) and (max-width: 1054px) {
 .slider{
    height: 100vh;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}
.content-box{
    display: flex;
      padding: 0rem;
}
.content-box .pera{
    width: 100%;
     margin-right: 0;
}
.content-box .pera h1{
    font-size: 1.7rem;
    font-weight: 700;
   text-align: right;
   padding: 0rem;
    margin: 0;
}
.content-box .pera p{
     font-family: 'Poppins', sans-serif;
    line-height: 1.8em;
    text-align: right;
    font-size: 1em;
    padding: 1rem;
}


.slider-img{
    height: 30rem;
    width: 50vw;
}

.slider-img h4{
    position: relative;
    top: 8rem;
    font-size: 5rem;
    color: azure;
}

.main-container {
    display: flex;
    flex-direction: column;
}
}


@media (min-width: 1054.98px) and (max-width: 1286px) {
     .slider{
    height: 100vh;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}
.content-box{
    display: flex;
      padding: 0rem;
}
.content-box .pera{
    width: 100%;
     margin-right: 0;
}
.content-box .pera h1{
    font-size: 1.7rem;
    font-weight: 700;
   text-align: right;
   padding: 0rem;
    margin: 0;
}
.content-box .pera p{
     font-family: 'Poppins', sans-serif;
    line-height: 1.8em;
    text-align: right;
    font-size: 1em;
    padding: 1rem;
}


.slider-img{
    height: 30rem;
    width: 50vw;
}

.slider-img h4{
    position: relative;
    top: 8rem;
    font-size: 5rem;
    color: azure;
}

.main-container {
    display: flex;
    flex-direction: column;
}
}