.circle-wrap{
    position: relative;
     width: 100%;
    height: 100vh;
     overflow: hidden;
}

.circle-img{
    width: 100%;
    height: 100%;
    background-image: url('../../assets/gaza-bg2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}



.circle-wrap::after {
  content: "";
  position: absolute;
  inset: 0;

  /* LIGHT overlay, so image CLEARLY visible */
   background: linear-gradient(
    rgba(255, 0, 0, 0.4),   /* Red tint */
    rgba(0, 0, 0, 0.6)     /* Black fade */
  );
  z-index: 1;
  
}

.circle-img h1 {
  position: relative;
  z-index: 2;
  color:  transparent;
   font-family: 'Poppins', sans-serif;
   font-size: 3rem;
   line-height: 3rem;
  text-align: center;
  max-width: 800px;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  -webkit-text-stroke: 1px #fff;
  -webkit-background-clip: text;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  background-position: -750px 0;
  animation: backcolor 4s linear infinite alternate;
}

@keyframes backcolor {
  100%{
    background-position: 0 0;
  }
  75%{
    background-position: 0 0;
  }
}

.circle-img p {
  position: relative;
  z-index: 2;
  color: rgb(255, 255, 255);
   font-family: 'Poppins', sans-serif;
   line-height: 1.5rem;
  text-align: center;
  max-width: 800px;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}



@media (min-width: 190.99px) and (max-width: 376px) {
.circle-wrap{
    position: relative;
     width: 100%;
    height: 100vh;
     overflow: hidden;
}

}

@media (min-width: 376.98px) and (max-width: 457px) {
  .circle-wrap{
    position: relative;
     width: 100%;
    height: 100vh;
     overflow: hidden;
}

.circle-img p {
 
  max-width: 800px;
  padding: 1rem;
  margin: auto;
  top: 45%;
  transform: translateY(-50%);
}


.circle-img h1 {
  max-width: 800px;
  position: relative;
  top: 45%;
}

}



@media (min-width: 457.98px) and (max-width: 573px) {
  .circle-wrap{
    position: relative;
     width: 100%;
    height: 100vh;
     overflow: hidden;
}

.circle-img p {
 
  max-width: 800px;
  padding: 1rem;
  margin: auto;
  top: 45%;
  transform: translateY(-50%);
}


.circle-img h1 {
  max-width: 800px;
  position: relative;
  top: 45%;
}

}


@media (min-width: 573.98px) and (max-width: 644px) {
    .circle-wrap{
    position: relative;
     width: 100%;
    height: 100vh;
     overflow: hidden;
}

.circle-img p {
 
  max-width: 800px;
  padding: 1rem;
  margin: auto;
  top: 45%;
  transform: translateY(-50%);
}


.circle-img h1 {
  max-width: 800px;
  position: relative;
  top: 45%;
}

}

@media (min-width: 644.98px) and (max-width: 792px) {
      .circle-wrap{
    position: relative;
     width: 100%;
    height: 70vh;
     overflow: hidden;
}

.circle-img p {
 
  max-width: 800px;
  padding: 1rem;
  margin: auto;
  top: 45%;
  transform: translateY(-50%);
}


.circle-img h1 {
  max-width: 800px;
  position: relative;
  top: 45%;
}

}

@media (min-width: 792.98px) and (max-width: 912px) {
      .circle-wrap{
    position: relative;
     width: 100%;
    height: 50vh;
     overflow: hidden;
}

.circle-img p {
 
  max-width: 800px;
  padding: 1rem;
  margin: auto;
  top: 45%;
  transform: translateY(-50%);
}


.circle-img h1 {
  max-width: 800px;
  position: relative;
  top: 45%;
}
}