.Report-page h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}


.Report-page .pera {
    text-align: center;
    font-size: 1.3em;
}

.btn-group {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 3rem;
}
/* BTN-GROUP BUTTONS (Same like PDF button effects) */
.btn-group button {
  border-radius: 0.6rem;
  padding: 0.6rem 1.2rem;
  background: transparent;
  border: 1px solid #a19e9e;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.4s ease;
}

/* Shine layer */
.btn-group button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -130%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  transform: skewX(-20deg);
  transition: 0.6s ease;
}

/* Shine move on hover */
.btn-group button:hover::before {
  left: 140%;
}

/* Glow + Lift */
.btn-group button:hover {
  background: #efeded;
  transform: translateY(-5px) scale(1.06);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
.Card-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;
    row-gap: 1rem;
    padding-top: 3rem;
}

.Card-group .card-Box {
    width: 25vw;
    height: auto;
    padding: 1.2rem;
    border: 1px solid #a19e9e;
    transition: transform 0.4s ease;
}

.card-Box h2{
    font-size: 1.5em;
font-family: "Be Vietnam Pro", sans-serif;
font-weight: 100;
}

.date-topic{
    display: flex;
    justify-content: space-between;
}


/* PDF Button */
.card-Box a.pdf-btn {
  text-decoration: none;
  padding: 0.7rem 1rem;
  border-radius: 0.6rem;
  background: transparent;
  color: black;
  border: 1px solid #a19e9e;
  display: inline-block;
  position: relative;
  top: 1rem;
  font-weight: 500;
  overflow: hidden;
  transition: 0.4s ease;
}

/* Shine layer */
.card-Box a.pdf-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  transform: skewX(-20deg);
  transition: 0.6s ease;
}

/* Hover shine */
.card-Box a.pdf-btn:hover::before {
  left: 140%;
}

/* Glow + Lift effect */
.card-Box a.pdf-btn:hover {
  background: #efeded;
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}