.contact{
  padding: 4rem 0rem 4rem 0rem;
  height: 70vh;
  background-color: #0D1B2A;
  /*background-image: url('../../assets/contact.jpg');
  background-repeat: no-repeat;
  background-size: cover;*/
}
.contact h1{
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    color: #f8f9fa;
}

.contact p{
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    color: #f4f5f6;
}
.two-div {
    display: flex;
    position: relative;
    top: -5rem;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 4rem;
    border-radius: 18px;           /* Smooth corners */
    background: #f1efef;           /* Clean white card */
    border: 1px solid #dce3ef;     /* Light border */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);  /* Modern soft shadow */
    transition: 0.3s ease-in-out;
}


/* Hover effect (premium look) */
.two-div:hover {
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.12);
    transform: translateY(-3px);
}

.contact-info{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.contact-box{
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);  /* Modern soft shadow */
    transition: 0.3s ease-in-out;
    background-color: #cdd3d8;
}
.contact-box h4{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-box i{
    font-size: 1.5rem;
}


.contact-form-container{
    width: 40rem;
    padding: 1rem;
    
}
.contact-form2{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.contact-form-container .input-group{
    width: 100%;
}

.contact-form-container .contact-form2 .input-group lable{
    font-size: 1.3rem;
}
.contact-form-container .input-group input{
    border-radius: unset;
    border-color: #cdd3d8;
    color: #000;
}


.contact-form-container .input-group textarea{
    border-radius: unset;
    border-color: #cdd3d8;
    color: #000;
}

.contact-form-container  .form-send-btn{
    width: 100%;
    background-color: #cdd3d8;
    border-color: #cdd3d8;
    padding: 1rem;
}