.container{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #ffffff, #f0f0f0);
    margin-top: 3rem;
    
}

.box{
    align-content: flex-start;
    width: 500px;
}
.box h2{
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

.box p{
  font-family: 'Poppins', sans-serif;
  line-height: 1.7rem;
}

.container .box-img img{
    border-radius: 10px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.2);
    width: 80%;
    
}

@media (min-width: 190.99px) and (max-width: 376px) {
    .container{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    
}

.box{
    align-content: center;
    width: 100%;
}
.box h2{
    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
    text-align: center;
}

.box p{
  font-family: 'Poppins', sans-serif;
  line-height: 1.7rem;
  text-align: justify;
  padding: 0.5em;
}

.container .box-img img{
    position: relative;
    top: 1rem;
    width: 90vw;
}
}


@media (min-width: 376.98px) and (max-width: 457px) {
        .container{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    
}

.box{
    align-content: center;
    width: 100%;
}
.box h2{
    font-size: 1.7rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    margin-top: 3rem;
    text-align: center;
}

.box p{
  font-family: 'Poppins', sans-serif;
  line-height: 1.7rem;
  text-align: justify;
  padding: 0.5em;
}

.container .box-img img{
    position: relative;
    top: 1rem;
    width: 90vw;
}
}


@media (min-width: 457.98px) and (max-width: 573px) {
    .container{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    
}

.box{
    align-content: center;
    width: 100%;
}
.box h2{
    font-size: 1.8rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    margin-top: 3rem;
    text-align: center;
}

.box p{
  font-family: 'Poppins', sans-serif;
  line-height: 1.7rem;
  text-align: justify;
  padding: 0.5em;
}

.container .box-img img{
    position: relative;
    top: 1rem;
    width: 90vw;
}
}


@media (min-width: 573.98px) and (max-width: 644px) {
  .container{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    
}

.box{
    align-content: center;
    width: 100%;
}
.box h2{
    font-size: 1.8rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    margin-top: 3rem;
    text-align: center;
}

.box p{
  font-family: 'Poppins', sans-serif;
  line-height: 1.7rem;
  text-align: justify;
  padding: 0.5em;
}

.container .box-img img{
    position: relative;
    top: 1rem;
    width: 100%;
}
}

@media (min-width: 644.98px) and (max-width: 792px) {
      .container{
        display: flex;
        height: 70vh;
        width: 100vw !important;
        max-width: 100% !important;
        margin-top: 0 !important;
}

.box{
    align-content: center;
    width: 45vw;
    
}
.box h2{
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.box p{
  text-align: justify;
  font-size: 0.9em;
  padding: 0.5em;
}

.container .box-img img{
   width: 45vw;
   height: 40vh;
   margin: 1rem;
}
}


@media (min-width: 792.98px) and (max-width: 912px) {
    .container{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-between;
   
}

.box{
    align-content: flex-start;
    width: 30rem;
}
.box h2{
    font-size: 1.7rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

.box p{
  font-family: 'Poppins', sans-serif;
  line-height: 1.7rem;
  text-align: right;
  margin-right: 2rem;
}

.container .box-img img{
    width: 50vw;
    height: auto;
}
}

@media (min-width: 912.98px) and (max-width: 1054px) {
        .container{
        display: flex;
        height: 90vh;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
}

.box{
    align-content: center;
    justify-content: center;
    width: 50vw;
    margin-right: 2rem;
}
.box h2{
    font-size: 1.7rem;
    text-align: right;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.box p{
  line-height: 2rem;
  text-align: right;
}

.container .box-img img{
    width: 50vw;
    height: 50vh;
}
}